@{
    ViewBag.Title = "Home Page";
}

<h1 class="mt-4">Dashboard</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>

<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-ms-9">
                        <h6>Total Clientes</h6>
                        <h6 id="totalcliente">0</h6>
                    </div>
                    <div class="col-ms-3">
                        <i class="fas fa-users fa-2x"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-ms-9">
                        <h6>Total Ventas</h6>
                        <h6 id="totalventa">0</h6>
                    </div>
                    <div class="col-ms-3">
                        <i class="fas fa-shopping-cart fa-2x"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-info text-white mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-ms-9">
                        <h6>Total Libros</h6>
                        <h6 id="totalproducto">0</h6>
                    </div>
                    <div class="col-ms-3">
                        <i class="fas fa-book fa-2x"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-secondary text-white mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-ms-9">
                        <h6>Total Autores</h6>
                        <h6 id="totalautor">0</h6>
                    </div>
                    <div class="col-ms-3">
                        <i class="fas fa-bookmark fa-2x"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>



</div>