@{
    ViewBag.Title = "Home Page";
}

<h1 class="mt-4">Dashboard</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>

<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-ms-9">
                        <h6>Total Clientes</h6>
                        <h6 id="totalcliente" style="font-size:30px">0</h6>
                        <p><a href="#" class="link-dark">Ver Detalle</a></p>
                    </div>
                    <div class="col-ms-3">
                        <i class="fas fa-users fa-2x"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-ms-9">
                        <h6>Total Ventas</h6>
                        <h6 id="totalventa" style="font-size:30px">0</h6>
                        <p><a href="#" class="link-dark">Ver Detalle</a></p>
                    </div>
                    <div class="col-ms-3">
                        <i class="fas fa-shopping-cart fa-2x"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-info text-white mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-ms-9">
                        <h6>Total Libros</h6>
                        <h6 id="totalproducto" style="font-size:30px">0</h6>
                        <p><a href="/Mantenedor/Producto" class="link-dark">Ver Detalle</a></p>
                    </div>
                    <div class="col-ms-3">
                        <i class="fas fa-book fa-2x"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-secondary text-white mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-ms-9">
                        <h6>Total Stock</h6>
                        <h6 id="totalstock" style="font-size:30px">0</h6>
                        <p><a href="/Mantenedor/Producto" class="link-dark">Ver Detalle</a></p>
                    </div>
                    <div class="col-ms-3">
                        <i class="fas fa-book fa-2x"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-tags me-1"></i>
            Historial de ventas
        </div>
        <div class="card-body">
            <form action="@Url.Action("ExportarVenta", "Home")" method="post">
                <div class="row align-items-end">
                    <div class="col-sm-2">
                        <div class="mb-2">
                            <label class="form-label">Fecha desde</label>
                            <input class="form-control" type="text" id="txtfechainicio" name="fechainicio" />
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="mb-2">
                            <label class="form-label">Fecha hasta</label>
                            <input class="form-control" type="text" id="txtfechafin" name="fechafin" />
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="mb-2">
                            <label class="form-label">Id Transaccion</label>
                            <input class="form-control" type="text" id="txtidtransaccion" name="idtransaccion" />
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="d-grid mb-2">
                            <button class="btn btn-primary" id="btnbuscar" type="button"><i class="fas fa-search"></i> Buscar</button>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="d-grid mb-2">
                            <button class="btn btn-success" type="submit"><i class="fas fa-file-excel"></i> Exportar</button>
                        </div>
                    </div>
                </div>

            </form>

            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <table id="tabla" class="display cell-border" style="width:100%">
                        <thead>
                            <tr>
                                <th>Fecha de venta</th>
                                <th>Cliente</th>
                                <th>Libro</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th>Id Transaccion</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
    @section scripts{
        <script>

            var tabladata;

            $(document).ready(function () {



                $("#txtfechainicio").datepicker({ dateFormat: "dd/mm/yy" }).datepicker('setDate', new Date());
                $("#txtfechafin").datepicker({ dateFormat: "dd/mm/yy" }).datepicker('setDate', new Date());

                jQuery.ajax({
                    url: '@Url.Action("VistaDashboard", "Home")',
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        var objeto = data.resultado;

                        $("#totalcliente").text(objeto.TotalCliente)
                        $("#totalventa").text(objeto.TotalVenta)
                        $("#totalproducto").text(objeto.TotalProducto)
                        $("#totalstock").text(objeto.TotalStock)
                    }
                });

                var Url = '@Url.Action("ListaReporte","Home")' +
                    "?fechainicio=" + $("#txtfechainicio").val() +
                    "&fechafin=" + $("#txtfechafin").val() +
                    "&idtransaccion=" + $("#txtidtransaccion").val()



                tabladata = $("#tabla").DataTable({
                    language: {
                        url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json'
                    },
                    responsive: true,
                    ordering: false,
                    "ajax": {
                        url: Url,
                        type: "GET",
                        dataType: "Json"
                    },
                    "columns": [
                        { "data": "FechaVenta" },
                        { "data": "Cliente" },
                        { "data": "Libro" },
                        { "data": "Precio" },
                        { "data": "Cantidad" },
                        { "data": "Total" },
                        { "data": "IdTransaccion" }

                    ]
                 });

            });

            $("#btnbuscar").on("click", function() {
                 var nueva_url = '@Url.Action("ListaReporte","Home")' +
                    "?fechainicio=" + $("#txtfechainicio").val() +
                    "&fechafin=" + $("#txtfechafin").val() +
                    "&idtransaccion=" + $("#txtidtransaccion").val()

                tabladata.ajax.url(nueva_url).load();
            })

        </script>
    }
